rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedInUser() {
      return request.auth.uid != null;
    }

    // function isPremiumUser() {
    //   return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isPremium;
    // }

    function isSuperAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.designation == "Admin";
    }

    function isTenant() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.designation == "Tenant";
    }

    // function isLandlord() {
    //   return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.designation == "Landlord";
    // }

    function isProvider() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.designation == "Provider";
    }

    match /users/{userId} {
      allow read: if isSignedInUser();
      allow write: if isSignedInUser();

      match /users/{userId}/payments_history/{document} {
        allow read: if request.auth.uid == userId
        allow write: if isSignedInUser(); 
      }
    }

    match /complaints/{complaint} {
    	allow write: if isSignedInUser();
      allow read: if isSignedInUser();
    }

    match /landlords/{landlord} {
      allow read, write: if isSignedInUser();
    }

    match /tenants/{tenant} {
      allow read: if isSignedInUser();
      allow write: if isSignedInUser() && request.resource.data.apartment_name != null;
    }

    match /vacations/{vacate} {
    	allow read: if isSignedInUser();
      allow write: if isSignedInUser() && request.resource.data.date != null;
    }

    match /apartments/{apartment} {
    	allow read; 
    	allow write: if isSignedInUser();
      match /floors/{floor} {
    	  allow read, write: if isSignedInUser();
        match /tenants/{tenant} {
          allow read, write: if isSignedInUser();
        }
      }
    }

    match /managers/{manager} {
    	allow read: if isSignedInUser();
      allow create, update: if isSignedInUser() && request.resource.data.apartment_name != null;
      allow delete: if isSignedInUser();
    }

    match /vacations/{vacate} {
    	allow read, write: if isSignedInUser();
    }
    
    match /listings/{listing} {
    	allow read: if true;
      allow write: if isSignedInUser();
    }
    
    match /payments/{doc=**} {
    	allow write: if isSignedInUser();
    }

    match /bookings/{doc} {
    	allow write: if true;
      allow read: if isSignedInUser();
    }

    match /services/{serviceDoc} {
      allow read;
    }

    match /{path=**}/distinctions/{distinction} {
      allow read;
    }

    match /analytics/{doc} {
      allow read: if isSignedInUser() && isSuperAdmin();
    }

    match /reports/{report} {
      function isValidReport() {
        return request.resource.data.start != null
          && request.resource.data.end != null
          && request.resource.data.code != null
          && request.resource.data.uid != null
          && exists(/databases/$(database)/documents/users/$(request.resource.data.uid))
          && request.resource.data.size() == 4
          && request.resource.data.code is number;
      }
      allow write: if isSignedInUser() && isValidReport();
      allow read: if isSignedInUser();
    }

    match /service_requests/{request} {
      allow read, update: if isSignedInUser() && (isProvider() || isTenant());
      allow create: if isSignedInUser() && isTenant();
    }
  }
}